<!-- <p>welcome works!</p> -->
<div class="header">
    <h1>HOTEL MASTER.COM</h1>
    <p>it's time to<b> discover</b></p>
  </div>
<div>
   
    <div class="row d-flex justify-content-center">
        <div class="col-lg-3" >
           <br>
           <!-- <img style=" margin-top: 150px;"src="https://thumbs.dreamstime.com/b/hotel-round-design-template-line-icon-concept-vector-welcome-hotel-service-round-design-template-line-icon-concept-travel-106200329.jpg"/> -->
           </div>
           <nav class="navbar navbar-expand-sm navbar-da" style="background-color:black">
            <ul class = "navbar-nav">
                <button id="home"(click)="adminLogin()"> <i  class="bi bi-person"></i>Admin Login</button>
                <button id="home"(click)="customerSignUp()"> <i  class="bi bi-person"></i>User Login</button>
                <button id="home"(click)="contactUs()"> <i  class="fa fa-phone"></i>Contact us</button>
                <button id="home"(click)="aboutUs()"> <i  class="fa fa-phone"></i>About us</button>
            </ul>
        </nav>
    </div>
</div>
<link rel="stylesheet" href="welcome.component.css">