<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary center">
        <div>
             <i class='fas fa-shipping-fast Color-white' style='font-size:24px'></i>
           <strong><h1><a class="navbar-brand text-white"> DELETE HOTEL</a></h1></strong>
        </div>
    </nav>
</header>

<div class="body">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 border p-5 center">
                <form class="w-100" #registerForm="ngForm" (ngSubmit)="deleteHotel()"><br>
        
                    <label><b>Enter Hotel ID (for deletion)</b></label><br> 
                    <input class="form-control" placeholder="Hotel ID" type="number" name="hId" [(ngModel)]="hId" required/><br><br>
                    <div class="text-center">
                        <button class="btn btn-danger">DeleteHotel</button><br>
                    </div>
                </form>    
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="delete-hotel.component.css">