<nav class="navbar navbar-expand-sm navbarda" style="background-color:black">
    <div class="container-fluid">
      <!-- <ul class="nav navbar-nav">
          <button id="home" (click)="home()"><i class="fa fa-home"></i>Home</button>
          <button id="home" (click)="contactUs()"> <i class="fa fa-phone"></i>Contact</button>
        </ul> -->
      <button (click)="logOut()" class="btn btn-danger navbarbtn">Log out</button>
    </div>
  </nav>

<div class="header">
    <h1>ADMIN PAGE</h1>
</div>

<div>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-3"><br>
        </div>
        <nav class="navbar navbar-expand-sm navbar-da" style="background-color:black">
            <ul class="navbar-nav">
                <button id="home" (click)="addhotel()"> <i class="bi bi-person"></i>Add Hotel</button>
                <button id="home" (click)="displayHotel()"><i class=" bi-person"></i>DisplayHotel</button>
            </ul>
        </nav>
    </div>
</div>
<link rel="stylesheet" href="admin-page.component.css">